<div class = "workout-list">

    <article class = "workout-holder">

       	<a href="plans/{{title}}"><div class = "workout-icon" href="{{title}}">

            <i class="fas fa-running" href="plans/{{title}}"></i>

        </div></a>
			<div class = "workout-information">
        		<p class = "workout-content workout-title">Workout Name</p>
        		<p class = "workout-content workout-desc" id="workoutT">{{title}}</p>
				<p class = "workout-content workout-title">Description</p>
				<p class = "workout-content workout-desc">{{description}}</p>
			</div>

	</article>
		
</div>